<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <i class="fa fa-user" style="font-size: large; color: whitesmoke;"></i>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">{{title}}</h6>     
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="row">
      <div class="col-sm-6">
        <h5></h5>
      </div>    
      <div class="col-sm-5 align-bottom">
        <button class="btn btn-primary pull-right" routerLink="/users/create">Create new</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" style="text-align: left">
        <thead>
            <tr>
                    
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>  
              <th></th>  
              <th></th>          
            </tr>
            </thead> 
            <tbody>  
              <tr *ngFor="let user of users | async">               
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>   
                <td>
                  <button routerLink="/users/edit/{{user.id}}"  class="btn btn-info btn-sm">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </td> 
                <td>
                  <button (click)="delete(user.id)" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
                
              </tr>                     
            </tbody>
    </table>

    </div>
  
  </div>
</div>

 